body {
    background-color: #ffffff;
    margin: 0;
}

.hide {
    display: none;
}

.lot-hide {
    display: none;
}

.orve-title {
    /*width: 226px;*/
    height: 28px;
    margin: 0;
    padding-bottom: 10px;
    font-family: Domine;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #03b42e;
}

.orve-subtitle {
    padding-bottom: 10px;
    margin-top: 0;
    font-family: Rajdhani;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.69;
    letter-spacing: normal;
    text-align: center;
}

.head-bg {
    background-image: url('https://www.grupoorve.mx/hubfs/website/bg/bg_hd.jpg?t=1530034113148');
}

.main-title {
    /*height: 55px;*/
    padding: 44px 0 44px 0;
    font-family: Domine;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.v-center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.ob-container {
    max-width: 940px;
    padding: 30px 0;
    margin: auto;
}

.ob-small-container {
    max-width: 620px;
    padding: 30px 0;
    margin: auto;
}

.ob-container .rules {
    padding: 0;
}

.lot-toggle {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin: 3px 0 20px 0;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.1);
    font-family: Domine;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

a,
button {
    cursor: pointer;
}

.lot-link {
    margin-top: 20px;
}

.lot-link a:link {
    text-decoration: none;
    font-family: Domine;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #03b42e;
}

.lot-info p {
    margin-top: 0px;
    font-family: Domine;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #03b42e;
}

.lot-total p {
    margin-top: 9px;
    font-family: Domine;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    color: #03b42e;
}

img {
    max-width: 100%;
    height: auto;
}

.light-background {
    background-color: #f9f9f9;
    /*background-color: var(--white);*/
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

table th {
    /*width: 16.66%;*/
    height: 41px;
    font-family: Rajdhani;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.69;
    letter-spacing: normal;
    text-align: center;
}

th small {
    font-size: 12px;
    line-height: 0.92;
}

table td {
    border-top: 2px solid #eaeaea;
    margin: 0px;
    padding: 10px 5px;
    width: 16.66%;
    font-family: Domine;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.no-border td {
    border-style: none;
}

label {
    font-family: Rajdhani;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

td .bold {
    font-family: Domine;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

table .text-left {
    text-align: left;
}

button {
    border: none;
    padding: 12px 0;
    width: 100%;
    font-family: Rajdhani;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #03b42e;
}

button:disabled {
    background-color: #9b9b9b;
}

button:focus {
    outline: none;
}

button:hover {
    box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.24), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.delete-item {
    text-decoration: none;
    font-family: Domine;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #fc465c !important;
}

.rules {
    list-style-type: none;
    margin: 0;
    padding: 40px 0;
    opacity: 0.5;
    font-family: Domine;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

form input {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-top: 3px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.1);
    font-family: Domine;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

form select {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-top: 3px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.1);
    font-family: Domine;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.border-top {
    border-top: solid 2px #eaeaea;
    margin-top: 30px;
    padding-top: 28px;
}

form .sec {
    margin-top: 10px;
    padding-top: 10px;
}